<!DOCTYPE html>
<html>
<head>
    <title>OSPF Configuration</title>
</head>
<body>
    <h2>Enter OSPF Configuration Details</h2>
    <form action="/submit" method="POST">
        <label>Router IP Address:</label>
        <input type="text" name="Router IP Address" required><br><br>

        <label>Username:</label>
        <input type="text" name="Username" required><br><br>

        <label>Password:</label>
        <input type="password" name="Password" required><br><br>

        <label>OSPF Process ID:</label>
        <input type="text" name="OSPF Process ID" required><br><br>
        
        <label>Loopback IP:</label>
        <input type="text" name="Loopback IP"><br><br>
        
        <label>Loopback Area:</label>
        <input type="text" name="Loopback Area"><br><br>

        <label>Network Address 1:</label>
        <input type="text" name="Network Address 1"><br><br>

        <label>Wildcard Mask 1:</label>
        <input type="text" name="Wildcard Mask 1"><br><br>
        
        <label>Area 1:</label>
        <input type="text" name="Area 1"><br><br>
        
        <label>Network Address 2:</label>
        <input type="text" name="Network Address 2"><br><br>
        
        <label>Wildcard Mask 2:</label>
        <input type="text" name="Wildcard Mask 2"><br><br>
        
        <label>Area 2:</label>
        <input type="text" name="Area 2"><br><br>

        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
